body { overflow-x: hidden; }

#questions .carousel-caption {
    background-color: rgba(50,50,50,.5);
    width: 80%;
    left: 0;
    right: 0;
    margin: 0 auto;
}

#services .card-deck .card {
    transition: transform .5s ease-out;
}
#services .card-deck .card:hover {
    transform: scale(1.05);
}
